.background {
  background: url(../../assets/img/body-bg/enter-page_light.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.background:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(12px);
  background-color: rgba(121, 156, 212, 0.5) !important;
}

.сard_сontainer {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  padding: 64px 32px !important;
  width: 539px;

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    padding: 32px 16px !important;
    width: 328px;
    height: 386px;
  }

  :global(.ant-card-body) {
    padding: 0 !important;
  }
}

.сard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.description {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}

.subtext {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-secondary-45);
}