.modal {

  :global(.ant-modal-body) {
    padding: var(--padding-small);
  }

  :global(.ant-modal-footer) {
    padding: 10px 24px;
  }

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    :global(.ant-modal-body) {
      padding: 24px 16px;
    }

    :global(.ant-modal-footer) {
      padding: 10px 16px;
    }

    :global(.ant-btn) {
      width: 100%;
    }
  }

  :global(.ant-form) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}