.modal {
  :global(.ant-modal-body) {
    padding: 0;
  }

  width: 529px;
}

.content {
  padding: 64px 85.5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    padding: 32px 16px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-title-85);
}

.sub_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-secondary-45);
}

.button_container {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  :global(.ant-btn) {
    width: 180px;
    padding: 0;
  }

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    :global(.ant-btn) {
      width: 144px;
    }
  }
}