.auth-bg {
  background: url(../assets/img/body-bg/enter-page_light.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  padding: 64px 32px;
  width: 539px;
  height: 742px;
}

.auth-card {
  width: 368px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.ant-card-body {
  padding: 0;
}

.ant-tabs-tab {
  display: flex;
  justify-content: center;
  width: 184px;
  height: 46px;
  margin: 0 !important;
}