.background {
  background: url(../../assets/img/body-bg/enter-page_light.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.сard_сontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px !important;
  padding: 64px 3px !important;
  width: 539px;

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    padding: 32px 16px !important;
    width: 328px;
  }

  :global(.ant-card-body) {
    padding: 0 !important;
  }
}

.сard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.description {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-title-85);
}

.subtext {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-secondary-45);
}