.empty_container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;

  :global(.ant-card) {
    width: 100%;
  }

  :global(.ant-card-body) {
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  @media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
    :global(.ant-btn) {
      width: 100%;
    }

    justify-content: start;
    gap: 48px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-light-9);
}

.subtext {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-secondary-45);
}

@media only screen and (min-width: 360px) and (max-width: calc(834px - 1px)) {
  .subtext {
    padding: 0 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
  }
}