:root {
  --padding-small: 24px;
  --padding-medium: 56px 0;
  --padding-text: 0 30px;

  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-size-small: 14px;
  --font-size-medium: 24px;
  --line-height: 130%;
}